@import "./variables";

%arrows{
    top: 50%;
    margin-top: -40px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: center;
    @media screen and (max-width: 500px) and (min-width: 320px) {
        top: 80%;
        margin-top: 0px;
    }
}

%anchor{
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

%cards{
    height: 280px;
    width: 30%;

    min-width: 380px;

    border-radius: 10px;
    overflow: hidden;
    
    position: relative;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    transition: height 350ms ease-in-out;

    flex-wrap: wrap;

    .expTop{
        z-index: 1;
        font-size: 8rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        height: 280px;
        width: 100%;
        background-color: rgb(21, 20, 20);
        color: rgb(205, 201, 201);
        transition: background 500ms ease-out;

        h1{
            font-size: 4rem;
            font-family: 'Parisienne', cursive;

        }

        @media screen and (max-width: 480px) and (min-width: 391px){
            height: 260px;
            h1{
                font-size: 3.5rem;    
            }

            i{
                font-size: 6rem;
            }

        }   
        @media screen and (max-width: 390px) and (min-width: 371px){
            height: 240px;
            h1{
                font-size: 3.2rem;    
            }
            i{
                font-size: 5.7rem;
            }

        }
        @media screen and (max-width: 370px) and (min-width: 320px){
            height: 220px;
            h1{
                font-size: 3rem;    
            }
            i{
                font-size: 5.5rem;
            }
        }

    } 

    .expBot{
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 280px;
        background-color: rgb(229, 227, 229); 
        border-radius: 13px;
        //come back
        transition: border-radius 100ms ease-out 10ms;
        box-sizing: border-box;
        padding: 30px;

        @media screen and (max-width: 480px) and (min-width: 391px){
            height: 260px;
            padding: 27px;
        }   
        @media screen and (max-width: 390px) and (min-width: 371px){
            height: 240px;
            padding: 25px;
        }
        @media screen and (max-width: 370px) and (min-width: 320px){
            height: 220px;
            padding: 20px;
        }

        p{
            font-size: 1.5rem;
            line-height: 30px;
            text-align: left;

            @media screen and (max-width: 480px) and (min-width: 391px){
                font-size: 1.4rem;
                line-height: 27px;
               
            }   
            @media screen and (max-width: 390px) and (min-width: 371px){
                font-size: 1.3rem;
                line-height: 25px;
              
            }
            @media screen and (max-width: 370px) and (min-width: 320px){
                font-size: 1.2rem;
                line-height: 22px;
                
            }

        }

        a{
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            border-radius: 2px;

            color: $ligher_black;
            background-color: $brown_color;
            font-weight: 600;
            letter-spacing: 0.5px;
            word-spacing: 1px;

            width: 170px;
            height: 50px;

            position: absolute;
            bottom: 30px;
            left: 30px;

            transition: background 200ms ease-out , box-shadow 200ms ease-out;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);

            @media screen and (max-width: 480px) and (min-width: 391px){
                left: 25px;
                bottom: 25px;
            }   
            @media screen and (max-width: 390px) and (min-width: 371px){
                left: 20px;
                bottom: 20px;
            }
            @media screen and (max-width: 370px) and (min-width: 320px){
                left: 20px;
                bottom: 20px;
            }

        }

        a:hover{
            background-color: $ligter_brown;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        }

    }

    .expTopLight{
        background-color: $brown_color;
        color: rgb(14, 14, 14);
    }

    .expBotLight{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}
