@import "./variables";

%arrows{
    top: 50%;
    margin-top: -40px;
    display: flex;
    align-items: center;
    font-size: 3rem;
    justify-content: center;
}

%anchor{
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

%cards{
    height: 280px;
    width: 30%;

    min-width: 380px;

    border-radius: 10px;
    overflow: hidden;
    
    position: relative;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    transition: height 350ms ease-in-out;

    flex-wrap: wrap;

    .expTop{
        z-index: 1;
        font-size: 8rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        height: 280px;
        width: 100%;
        background-color: rgb(21, 20, 20);
        color: rgb(205, 201, 201);
        transition: background 500ms ease-out;

        h1{
            font-size: 4rem;
            font-family: 'Parisienne', cursive;

        }

    } 

    .expBot{
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 280px;
        background-color: rgb(229, 227, 229); 
        border-radius: 13px;
        //come back
        transition: border-radius 100ms ease-out 10ms;
        box-sizing: border-box;
        padding: 30px;
        p{
            font-size: 1.5rem;
            line-height: 30px;
            text-align: left;
        }

        a{
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            border-radius: 2px;

            color: $ligher_black;
            background-color: $brown_color;
            font-weight: 600;
            letter-spacing: 0.5px;
            word-spacing: 1px;

            width: 170px;
            height: 50px;

            position: absolute;
            bottom: 30px;
            left: 30px;

            transition: background 200ms ease-out , box-shadow 200ms ease-out;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
        }

        a:hover{
            background-color: $ligter_brown;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        }

    }

    .expTopLight{
        background-color: $brown_color;
        color: rgb(14, 14, 14);
    }

    .expBotLight{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 0px) {       
    %cards{
        
    }    
}
