//colors
$brown_color:  rgb(190, 159, 104);
$ligter_brown: rgb(203, 186, 157);
$light_gray: rgba(255, 255, 255,0.5);
$light_white: rgb(229, 227, 229);
//background colors
$dark_black: rgb(14, 14, 14);
$ligher_black: rgb(21, 20, 20);