@import "extensions";
@import "_variables";

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);

    nav{   
        //nav 
        position: fixed;
        z-index: 2;
        height: 110px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        left: 0;
        top: 0;
        transition: height 500ms ease-out, background 1000ms ease-out;
        //logo 
        #nav_logo{
            width: 280px;
            height: 100%;
            margin-left: 120px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }
        //buttons
        #nav_buttons_container{
            width: 600px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 120px;
            a{
                width: 100px;
                height: 40px;
                margin-top: 5px;

                color: white;
                text-decoration: none;
                letter-spacing: 0.7px;
                font-size: 1.2rem;
                font-weight: 400;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                position: relative;
            }

            a::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 0.175rem;
                left: 0;
                bottom: 0;
                background-color: white;
                transform: scale(0, 1);
                transform-origin: 0% 100%;
                transition: transform 300ms ease-out;
            }

            a:hover::after{
                transform: scale(1, 1);
            }
        }
    }

    .sticky{
        background-color: $dark_black;
        height: 60px;
        #nav_logo{
            width: 280px;
            height: 80%;
            margin-left: 120px;
            margin-top: 15px;
            transition: 200ms ease-out;
            img{
                width: 100%;
                height: 90%;
                object-fit: contain;
            }
        }

        #nav_buttons_container{
            a{
                height: 54px;
            }
        }
    }

    //img container
    .slide_container{
        position: absolute;
        width: 100%;
        height: 100%; 
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slide_text{
            width: 500px;
            height: 360px;
            position: absolute;
            left: 20%;
            top: 50%;
            margin-top: -180px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-shadow: 0px 0px 10px rgba(0,0,0,1);

            font-size: 1rem;
            text-align: center;

            overflow: hidden;

            h2{
                font-family: 'Parisienne', cursive;
                font-size: 3.5em;
                color: $brown_color;
                transform: translateX(-520px);
                visibility:hidden;
                opacity: 0;
                transition: 1000ms transform ease-in,1500ms visibility 700ms ease-in, 1500ms opacity 700ms;
            }

            h1{
                font-size: 3em;
                font-weight: 700;
                color: white;
                transform: translateX(-520px);
                visibility:hidden;
                opacity: 0;
                transition: 1000ms transform ease-in,1500ms visibility 700ms ease-in, 1500ms opacity 700ms;
            }

            p{
                width: 80%;
                font-size: 1.2em;
                font-weight: 500;
                color: white;
                line-height: 30px;
                transform: translateX(-520px);
                visibility:hidden;
                opacity: 0;
                transition: 1000ms transform ease-in,1500ms visibility 700ms ease-in, 1500ms opacity 700ms;
            }
            
            a{
                margin-top: 10px;
                width: 30%;
                height: 15%;
                background-color: $brown_color;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                color: white;
                font-weight: 500;
                text-decoration: none;
                transform: translateX(-520px);
                visibility:hidden;
                opacity: 0;
                text-shadow: none;
                transition: 1000ms transform ease-in, 200ms background ease-in,1500ms visibility 700ms ease-in, 1500ms opacity 700ms;
            }
            
            a:hover{
                background-color: $ligter_brown;
            }

            .leftAppear{
                visibility: visible;
                opacity: 1;
                transform: translateX(0px);
            }        
        }
    }

    .transitioned{
        transition: all 1s ease-in-out;
    }
    
    //arrows
    .arrow{
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        cursor: pointer;
    }

    .arrow:hover{
        background-color: rgba(255, 255, 255,0.1);
    }

    #arrow_left{
        left: 100px;
        @extend %arrows;
        color: $brown_color;
        transition: 200ms background ease-in;
    }

    #arrow_right{
        right: 100px;
        @extend %arrows;
        color: $brown_color;
        transition: 200ms background ease-in;
    }
}

main{
    background-color: orange;
    article:first-child{

        width: 100%;
        height: 900px;
        z-index: 2;

        box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
        background-color: $ligher_black;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        .title{
            
            left: 50%;
            top: 40px;
            position: absolute;
            
            width: 200px;
            margin-left: -100px;
            font-size: 4rem;
            text-align: center;
            font-family: 'Parisienne', cursive;
            color: $brown_color;
        }

        #cardContainer{
            width: 1550px;
            height: 560px;  
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            
            #scissors{
                @extend %cards;
                z-index: 0
            }

            #maskGel{
                @extend %cards;
                z-index: 0
            }

            #nails{
                @extend %cards;
                z-index: 0
            }

            .expandable:hover{
                height: 560px;
            }
        }
    }

    article:nth-child(2){
        
        width: 100%;
        height: 1200px;
        z-index: 1;
        position: relative;

        section:first-child{
            width: 100%;
            height: 60%;
            background-color: $brown_color;
            position: absolute;
            top: 0;
            z-index: 1;
            box-shadow: 0px 0px 20px 5px rgba(0,0,0,1);
            display: flex;

            #left_aboutUs{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                #innerContainer{
                    width: 80%;
                    height: 80%;
                    position: relative;
                    #outerContainer{
                        width: 90%;
                        height: 90%;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: $ligher_black;
                        
                    }
                    #movedContainer{
                        width: 90%;
                        height: 90%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-image: url("http://www.salonstrancice.cz/images/c.jpg?crc=3789886599");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        box-sizing: border-box;
                        #border{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            border: solid 20px rgba(21, 20, 20, 0.7);
                        }
                        #content{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                            background-color: rgba(21, 20, 20, 0.5);
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            #timeTop{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                align-items: center;
                                i{
                                    font-size: 5rem;
                                    color: $brown_color;
                                }
                                h1{ 
                                    font-size: 3.5rem;
                                    font-family: 'Parisienne', cursive;
                                    color: whitesmoke;
                                }
                            }

                            p{
                                font-size: 1.7rem;
                                color: white;
                                letter-spacing: 1px;
                                font-weight: 300;
                            }

                            
                        }
                    }
                }

            }

            #right_aboutUs{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                box-sizing: border-box;
                padding: 50px;
                
                h1{
                    font-size: 5rem;
                    font-family: 'Parisienne', cursive;
                }


                i{
                    font-size: 5rem;
                }

                p{  
                    width: 80%;
                    line-height: 35px;
                    font-size: 1.5rem;
                    text-align: center;
                }

            }
        }
        section:last-child{
            background-color: $ligher_black;
            width: 100%;
            height: 40%;
            position: absolute;
            bottom: 0;
        }
    }
}

footer{
    height: 250px;
    width: 100%;
    background-color: $dark_black;
}

