dist/html/._index.html

dist/icons/font/._flaticon.css
dist/icons/font/._flaticon.eot
dist/icons/font/._flaticon.html
dist/icons/font/._flaticon.scss
dist/icons/font/._flaticon.svg
dist/icons/font/._flaticon.ttf
dist/icons/font/._flaticon.woff
dist/icons/font/._flaticon.woff2

dist/icons/license/._license.html

dist/icons/._backup.txt
dist/icons/._font
dist/icons/._license

dist/img/Adobe_Stock_Standard_License_FHD/._red_woman.png
dist/img/Adobe_Stock_Standard_License_FHD/._dark_man.png
dist/img/Adobe_Stock_Standard_License_FHD/._blond_woman.png
dist/img/Adobe_Stock_Standard_License_FHD/._blond_man.png
dist/img/._Adobe_Stock_Standard_License_FHD
dist/img/._nav_logo.png 
dist/img/._mapimg.png
dist/img/._matrix.png
dist/img/._loreal.png
dist/img/._goldwell.png
dist/img/._dusy.png
dist/img/._belter.png

dist/._css
dist/._icons
dist/._workLog.txt
dist/._img
dist/._js
._dist
._scss
